astroid==2.3.3
autopep8==1.5
bleach==3.1.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
cssselect==1.1.0
decorator==4.4.2
dicttoxml==1.7.4
docutils==0.16
future==0.18.2
geocoder==1.38.1
geoip2==3.0.0
idna==2.9
importlib-metadata==1.5.0
ip2geotools==0.1.5
IP2Location==8.4.1
isort==4.3.21
jeepney==0.4.3
keyring==21.1.1
lazy-object-proxy==1.4.3
lxml==4.5.0
maxminddb==1.5.2
mccabe==0.6.1
packaging==20.3
pip-review==1.0
pkginfo==1.5.0.1
pycodestyle==2.5.0
pycparser==2.20
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.6
pyquery==1.4.1
ratelim==0.1.6
readme-renderer==24.0
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
selenium==3.141.0
six==1.14.0
tqdm==4.43.0
twine==3.1.1
typed-ast==1.4.1
typing==3.7.4.1
urllib3==1.25.8
webencodings==0.5.1
wrapt==1.12.0
zipp==3.1.0
